<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Steganography</title>

    <th:block th:replace="~{fragments/head :: head}"/>
</head>
<body class="d-flex flex-column min-vh-100 bg-light">

<header th:replace="~{fragments/header :: header}"></header>

<main class="px-4">
    <section class="card p-2 mb-3">
        <h2>Input</h2>
        <form th:action="@{/hide}" method="POST" enctype="multipart/form-data" th:object="${hideRequest}">
            <div class="mb-3">
                <label for="gif">Gif</label>
                <input type="file" id="gif" name="gif" th:field="*{gif}"
                       class="form-control" th:classappend="${#fields.hasErrors('gif') ? 'is-invalid' : ''}"
                       accept="image/gif">
                <p th:each="e : ${#fields.errors('gif')}" th:text="${e}" class="invalid-feedback"></p>
            </div>
            <div class="mb-3">
                <label for="text">Text to hide</label>
                <input type="text" id="text" name="text" th:field="*{text}"
                       class="form-control" th:classappend="${#fields.hasErrors('text') ? 'is-invalid' : ''}">
                <p th:each="e : ${#fields.errors('text')}" th:text="${e}" class="invalid-feedback"></p>
            </div>

            <input type="submit" value="Hide" class="btn btn-primary"/>
        </form>
    </section>

    <section class="card p-2 mb-3" th:if="${resultBase64 ne null}">
        <h2 class="text-center">Result</h2>
        <div class="container-fluid">
            <div class="row">
                <!-- Images are here, so they are loaded at the (sort of) same time -->
                <div class="col text-end">
                    <h3 class="text-end">Original</h3>
                    <img alt="Resulting image" th:src="@{'data:image/gif;base64,' + ${originalBase64}}" src=""/>
                </div>

                <div class="col">
                    <h3>Resulting image</h3>
                    <img alt="Resulting image" th:src="@{'data:image/gif;base64,' + ${resultBase64}}" src=""/>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a class="btn btn-primary d-block mt-2" download="original.gif"
                       th:href="@{'data:image/gif;base64,' + ${originalBase64}}">Download</a>

                    <h4 class="text-end">Original colors</h4>
                    <div class="d-flex flex-column align-items-end font-monospace">
                        <div th:each="color, stat : ${hideResponse.original.getGlobalColorTable()}">
                            <span th:text="${stat.count + ' - ' + color.toHexString()}"></span>
                            <div style="width: 16px; height: 16px; display: inline-block; border: 1px solid black;"
                                 th:styleappend="${'background: ' + color.toColorString()}"></div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <a class="btn btn-primary d-block mt-2" download="result.gif"
                       th:href="@{'data:image/gif;base64,' + ${resultBase64}}">Download</a>

                    <h4>Result colors</h4>
                    <div class="d-flex flex-column font-monospace">
                        <div th:each="color, stat : ${hideResponse.result.getGlobalColorTable()}">
                            <div style="width: 16px; height: 16px; display: inline-block; border: 1px solid black;"
                                 th:styleappend="${'background: ' + color.toColorString()}"></div>
                            <span th:text="${color.toHexString() + ' - ' + stat.count}"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>